.a { text-align: center;
   
}

.b { text-align: center;
   
}

.c { padding-left: 180px;
   
}

.d { padding-left: 150px;

   

}

.e {
padding-left: 180px;
   

}

ul{
    padding-left:180px;
}